<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h2>What we do?</h2>
    <p>
      We PT. Mie Tekno Indonesia Mechanical, Electrical, Instrumentation & Automation was incorporated customer base. We are
      one of the reputed suppliers for instumentation & Control Equipments.
    </p>
    <p>
      The company is supported by qualified and experienced staff to take care of all departmental functions. We have a wide
      range of products from different makes and designs to offer good quality products. timely deliveries & services to the
      process industries like Pulp & Paper, Sugar, Power, Edible oils, Petrochemical, Chemical & Pharmaceuticals, Rice, Food
      & Beverages, Dairy, Steel, Cement, Textile and other OEM's. Apart from this we can always develop a product range to
      suit customerrequirements at a minimal cost. We are always among at customer satisfaction to increase the customer
      base.
    </p>
    <p>
      All the time we are aware of the fact that each and every functional element of our product solution has a decisive
      impact on the performance of the plant and its reflection on the balance sheet finally. To enhance the performance we
      have well-trained and experienced maintenance crew to provide after sales services. Our Engineers understands your
      industry applications and they are always able to advise and offer you the correct product & solution for your
      application. We also handle the projects as per the requirements of expansions, modifications also New Projects given
      by the client.
    </p>
</div>
</div>