<h3>Gallery</h3>
<mat-grid-list cols="1" rowHeight = "150px">
  <mat-grid-tile><img src="assets/images/gallery/img1.jpg" width="50%"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/gallery/img2.jpg" width="50%"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/gallery/img3.jpg" width="50%" height="100%"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/gallery/img4.jpg" width="50%"></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/gallery/img5.jpg" width="50%"></mat-grid-tile>
</mat-grid-list>
