<mat-tab-group>
  <mat-tab label="Pressure">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 wrapper">
          <div class="content-main">
            <ul>
              <li>Gauges. Differential PressureGauges. V acuum Gauges</li>
              <li>Digital Pressure Indicators</li>
              <li>Digital Pressure Controllers</li>
              <li>Pressure Transmitters</li>
              <li>Differential Pressure Transmitters</li>
              <li>Hydrostatic Transmitters</li>
              <li>Portable Calibrators</li>
              <li>Pressure Switch</li>
              <li>Pressure Switch</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/images/instrument-img1.jpg" width="75%">
        </div>
      </div>
    </div>
</mat-tab>
<mat-tab label="Level">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 wrapper">
          <div class="content-main">
            <ul>
              <li>Level Switch conductivity Level</li>
              <li>Switch Vibrating Fork</li>
              <li>Level Switch & Transmitter RF type</li>
              <li>Level Transmitter (Ultrasonic)</li>
              <li>Level Transmitter (RADAR)</li>
              <li>Level Transmitter (Capacitance)</li>
              <li>Level Transmitter (Differential Pressure)</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/images/instrument-img2.jpg" width="75%">
        </div>
      </div>
    </div>
</mat-tab>
<mat-tab label="Valves">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 wrapper">
          <div class="content-main">
            <ul>
              <li>Pneumatic Valves</li>
              <li>I-P Converters</li>
              <li>Electrical operated Valves</li>
              <li>On-Off Valves/Ball Valves</li>
              <li> Safety Valves. Gate Valves</li>
              <li>Manifold 2/3/5 ways</li>
            </ul>
            <h4>Others</h4>
            <ul>
              <li>Pneumatic Fittings/Tubings/Cyllinders</li>
              <li>Air filter Regulators</li>
              <li>Pneumatic Cyllinders</li>
              <li>Condensate Pots</li>
              <li> Errection hardware</li>
              <li>Orifice assemblies</li>
              <li>SS Valves/Syphons & Cocks</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/images/instrument-img3.jpg" width="75%">
        </div>
      </div>
    </div>
</mat-tab>
<mat-tab label="Analytical">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="content-main">
          <ul>
            <li>pH</li>
            <li>Conductivity</li>
            <li>ORP</li>
            <li>Dissolved Oxygen</li>
            <li>Turbidity analyzer</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/instrument-img4.jpg" width="75%">
      </div>
    </div>
  </div>
</mat-tab>
<mat-tab label="Temperature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 wrapper">
        <div class="content-main">
          <h4>Gauges:</h4>
          <ul>
            <li>Bimetallic</li>
            <li> Gas filled</li>
            <li>Liquid filled</li>
            <li>Mercury filled</li>
          </ul>
          <h4>Sensors:</h4>
          <ul>
            <li>RTD Pt-100, Pt-1000</li>
            <li>Thermocouple Type: E.J.K.R.S.T, etc</li>
          </ul>
          <h4>Transmitters:</h4>
          <ul>
            <li>Head mounted</li>
            <li>Field mounted</li>
          </ul>
          <h4>Recorders & Indicators:</h4>
          <ul>
            <li>Paperless</li>
            <li>Hybrid Pneumatic Temp. Instruments</li>
            <li>Instrument Calibrators</li>
            <li>Digital Indicators & Controllers</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/instrument-img4.jpg" width="75%">
      </div>
    </div>
  </div>
</mat-tab>
</mat-tab-group>