<!-- <div class="container-fluid" style="background-color:lavender;">
  <div class="panel-heading">
     <div class="pull-left">
      <img src="assets/images/mie-logo.jpg" width="100px" alt="">
     </div>
     <h1 style="padding-left:20px;">{{title}}</h1>
   </div>
   <app-nav></app-nav>
  <div class="banner">&nbsp;</div>
  <router-outlet></router-outlet>
</div>
<footer class="container-fluid text-center">
  <p>copyright © 2019-20 - www.mietekno.com All Rights Reserved</p>
</footer>
//-->


  <mat-sidenav-container>
  
<mat-sidenav #sidenav role="navigation">
<app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
</mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid" style="background-color:lavender;">
        <div class="panel-heading">
           <div class="pull-left">
            <img src="assets/images/mie-logo.jpg" width="100px" alt="">
           </div>
           <div class="pull-left">
            <h1 style="padding-left:20px;padding-top:20px;">{{title}}</h1>
           </div>
         </div>
         <app-nav (sidenavToggle)="sidenav.toggle()"></app-nav>
        <div class="banner">&nbsp;</div>
      <main>
        <router-outlet></router-outlet>
      </main>
      </div>
      <footer class="container-fluid text-center">
        <p>copyright © 2019-20 - www.mietekno.com All Rights Reserved</p>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
