<div class="container-fluid">
    <div class="row col-md-12">
        <h3>Dealers</h3>
    </div>
    <div class="row">
        <div class="col-md-6 wrapper">
            <h4>Radix certificate</h4>
            <a href="assets/pdf/TORQ-CERTIFICATE.pdf" target="_blank">click here to view certificate</a>
        </div>
        <div class="col-md-6">
            <img src="assets/images/dealer/radix.jpeg" alt="Radix" width="200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 wrapper">
            <h4>TORQ certificate</h4>
            <a href="assets/pdf/TORQ-CATALOGUE.pdf" target="_blank">click here to view Catalog</a>
            <a href="assets/pdf/TORQ-CERTIFICATE.pdf" target="_blank">click here to view certificate</a>
        </div>
        <div class="col-md-6">
            <img src="assets/images/dealer/torq.jpg" alt="TORQ" width="200">
        </div>
    </div>
</div>