.mat-grid-list .mat-grid-tile{background-color:#cdcdcd}
.wrapper{height:100%;margin:100px auto;}
.wrapper-40{height:100%;margin:40px auto;}
.wrapper .content-main{text-align:center;}
hr{border-top: 1px solid #555;}