<mat-tab-group>
    <mat-tab label="Atlas Copco"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil Filters/ Air Filters / Oil Separators from GA11 ~ GA110<br>
              Oil Free ZR 3/3.5/3.53/ ZR 145/160</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-filter-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/engine-oil-filters-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-2.jpg" width="50%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Service kits like<br> Unloader kits, DCV kits, OSV kits, Cooler Service kits, Airend rebuild kits</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile><img src="assets/images/Atlas-copco/section2-img1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section2-img2.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section2-img3.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section2-img4.jpg" width="50%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Service Stage GA 11 ~ GA 110 and LP, <br>HP Elements for Oil Free ZR 3/3.5/3.53/ ZR 145/160</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Atlas-copco/section3-img1.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Oil / Inter / After Coolers
                And Cooler Bundles Of
                Water Cooled & Air Cooled
                for GA 11 GA 110 & LP ,
                HP Elements For Oil Free
                ZR 3/3.5/3.53 / ZT 145/160</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Atlas-copco/section4-img1.jpg" width="70%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section4-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">INSTRUMENT PARTS
              Pressure & Temperature
              Sensors For
              GA 11 GA 110 & LP, HP
              Elements For Oil Free ZR
              3/3.5/3.53 / ZT 145/160</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Atlas-copco/section5-img1.jpg" width="65%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section5-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Modules For All Range
              GA 11 GA 110 & LP, <br> HP
              Elements For Oil Free ZR
              3/3.5/3.53/ ZT 145/160</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Atlas-copco/section6-img1.jpg" width="100%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/section6-img2.jpg" width="100%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Donaldson"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Air Dryers Adjorber Type and Refrigeration Type</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Donaldson/Donaldson-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Donaldson/Donaldson-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">All Types Of Dryers Filters And Dryer Spare Parts</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Donaldson/Donaldson-section2-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Donaldson/Donaldson-section2-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Fs-elliott">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Oil Filters / Air Filters /
              Oil Mist Seperators For
              All Model Turbo
              Compressors</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/fselliott/section1-img1.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper-40">
            <div class="content-main">Oil / Inter / After
              Coolers And Cooler
              Bundles For All Model
              Turbo Compressors</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="150px">
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-filter-1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/engine-oil-filters-1.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Ingersoll Rand"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil Filters /
              Air Filters /
              Oil Mist
              Seperators
              For All Model
              Compressors</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-filter-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/engine-oil-filters-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-2.jpg" width="50%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil / Inter /
              After Coolers
              And Cooler
              Bundles For
              All Model &
              Screw Air
              Ends</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-filter-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/engine-oil-filters-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-1.jpg" width="50%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/Atlas-copco/air-oil-separator-2.jpg" width="50%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Cameron">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil Filters / Air Filters /
              Oil Mist Seperators For
              TA 2000 / TA 3000</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/cameron/cameron-section1-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/cameron/cameron-section1-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil / Inter / After
              Coolers and Cooler
              Bundles for TA 2000 /
              TA 3000</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/cameron/section2-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/cameron/section2-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">INSTRUMENT PARTS
              Pressure & Temperature
              Sensors and Vibration
              Sensors for TA 2000 / TA 3000</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/cameron/section3-img1.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">IGV / BOV Valves for TA 2000 / TA 3000</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/cameron/section4-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/cameron/section4-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="CompAir"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil Filters / Air Filters / Oil
              Seperators for L 160 L 260</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/compair/section1-img1.jpg" width="100%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Service Kits Like
              UNLOADER KITS, DCV
              KITS, OSV KITS,
              THERMOSTAT KITS,
              COOLER SERVICE KITS,
              AIREND REBUILD KITS</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/compair/section2-img1.jpg" width="100%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">INSTRUMENT PARTS
              Pressure &
              Temperature Sensors
              & Solenoid Valves for
              L 160 L260
              Compair</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/compair/section3-img1.jpg" width="100%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 wrapper">
            <div class="content-main">Oil / After Coolers and
              Cooler Bundles for
              L 160 L 260
              Compair</div>
          </div>
          <div class="col-md-6">
            <mat-grid-list cols="2" rowHeight="230px">
              <mat-grid-tile><img src="assets/images/compair/section4-img1.jpg" width="75%"></mat-grid-tile>
              <mat-grid-tile><img src="assets/images/compair/section4-img2.jpg" width="75%"></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </mat-tab>
</mat-tab-group>